.example-form {
    /*min-width: 150px;
    max-width: 500px;*/
    width: 50%;
}

.example-full-width {
    width: 100%;
}

mat-list {
    height:75vh;
    /*max-height: 60%;*/
    overflow-y: scroll;
}

mat-icon {
    color: purple;
    cursor: pointer;
}

form {
    position: fixed;
    bottom: 2vh;
    left: 20%;
}

p.mat-line span{
    white-space: pre-wrap;
}

.mat-list .mat-list-item /deep/.mat-list-item-content {
    height: auto;
  }